.housing {
  width: 100%;
  max-width: 1240px;
  margin: 50px auto 0;
  padding: 0 20px;


  &__information {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 30px;
  }

  &__details {
    h1 {
      margin: 0;

      color: #ff6060;
      font-size: 36px;
      font-weight: 500;
    }
  }

  &__location {
    margin: 8px 0 20px;

    font-size: 18px;
    font-weight: 500;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__tag {
    min-width: 115px;
    padding: 3px 15px;

    border-radius: 10px;

    background-color: #ff6060;
    color: white;

    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }

  &__host {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      width: 95px;
      margin: 0;

      color: #ff6060;
      font-size: 18px;
      text-align: right;
    }

    img {
      width: 64px;
      height: 64px;

      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__collapses {
    display: flex;
    gap: 75px;

    margin-top: 24px;

    .collapse {
      width: 50%;
    }
  }
  &__owner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}
}
@media (max-width: 768px) {
  .housing {
    width: auto;
    margin: 27px 20px 0;
    padding: 0;
  

    &__information {
      flex-direction: column;
      margin-top: 15px;
    }

    &__details {
      width: 100%;

      h1 {
        font-size: 18px;
        line-height: 1.4;
      }
    }

    &__location {
      margin: 5px 0 10px;

      font-size: 14px;
    }

    &__tag {
      min-width: auto;
      padding: 3px 12px;

      border-radius: 5px;

      font-size: 10px;
    }

    &__owner {
      width: 100%;
      margin-top: 16px;

      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    &__host {
      gap: 8px;

      p {
        width: 70px;
        font-size: 12px;
      }

      img {
        width: 32px;
        height: 32px;
      }
    }

    &__collapses {
      flex-direction: column;
      gap: 0;

      margin-top: 15px;

      .collapse {
        width: 100%;
      }
    }
  }
}